@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-blue {
  background-color: "#253872";
}

.custom-pink {
  background-color: "#ff66b4";
}

.custom-white {
  background-color: "#f5f6f3";
}
